h5py==3.8.0
imageio==2.26.0
matplotlib==3.7.1
numpy<1.24
probscale==0.2.5
pygame==2.2.0
pytest==7.2.2
pyyaml==5.4.1
sacred==0.8.4
scipy==1.10.1
seaborn==0.12.2
snakeviz==2.1.1
tensorboard==2.12.0
tensorboard-logger==0.1.0
tensorboardx==2.6
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.65.0
wandb==0.13.11
absl-py
attrs
gym==0.21.0
idna==2.7
lbforaging
mpyq==0.2.5
pbr==4.3.0
Pillow
pluggy==0.7.1
portpicker==1.2.0
protobuf==3.6.1
py==1.6.0
pyparsing
pysc2==3.0.0
python-dateutil==2.7.3
requests==2.19.1
rware
s2clientprotocol==4.10.1.75800.0
six==1.11.0
sk-video==1.1.10
tornado==5.1.1
urllib3==1.23
websocket-client==0.57.0
whichcraft==0.5.2
wrapt==1.10.11
git+https://github.com/oxwhirl/smac.git